<footer class="group js-footer" id="footer" role="contentinfo">
  <div class="footer-wrapper u-no-margin-top u-padding-bottom-medium">
    <p class="heading-small">Contact <a href="mailto:NCAenquiries@digital.justice.gov.uk">NCAenquiries@digital.justice.gov.uk</a> for support</p>
  </div>
</footer>
<script>
  const logoutBtn = document.getElementById('logout');
  if (logoutBtn) {
    logoutBtn.addEventListener('click', (e) => {
      e.preventDefault();
      var request = new XMLHttpRequest();
      request.open("get", "/logout", true, "server-will-always-401");
      request.onload = function() {
        window.location.replace("/");
      }
      request.send();
    })
  }
</script>
