<header role="banner" id="global-header" class="with-proposition">
  <div class="header-wrapper">
      <div class="header-global">
          <div class="header-logo">
              <a href="/" title="Go to the homepage" id="logo" class="content hmppslogo">
                  <img class="logo-img" src="/public/images/logo.svg" width="41" height="35" alt=""/>
                  <span>Offloc Server</span>
              </a>
          </div>
      </div>
      <div id="header-user">
        <strong>User, <%= locals.user %></strong>
        <ul class="navigation-menu">
          <li><a href="/change-password">Change password</a></li>
        </ul>
      </div>
  </div>
</header>
