// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: "/public/images/"

// Import GOV.UK elements from /govuk-modules/, this will import the frontend toolkit and some base styles.
// Take a look in /govuk-modules/_govuk-elements.scss to see which files are imported.
@import 'govuk-elements'

#global-header #logo.hmppslogo
  background: url('/public/images/logo.svg') no-repeat

#global-header #logo .logo-img
  margin-right: 10px

#global-header .header-wrapper
  position: relative

.header-user
  position: absolute
  top: 0
  right: 0
  color: #fff
  background-color: #005ea5
  padding: 0 25px
  line-height: 56px
  box-sizing: border-box
  text-align: center

.header-username
  line-height: inherit

.header-username::after
  content: " "
  border-left: 2px solid white
  margin: 0 0.5em 0 1em

.header-user
  & a:link, & a:visited
    color: #ffffff

.navigation-menu
  list-style: none
  position: absolute
  top: 100%
  left: 0
  width: 100%
  background-color: #005ea5
  display: none

.navigation-menu li a
  display: block
  padding: 1em 0

.navigation-menu li a:hover
  background-color: #ffbf47

#header-user:hover .navigation-menu
  display: block

.error-summary-list
  list-style: none


.button--title
  margin-top: 2.5em

.nav-link
  display: inline-block
  margin: 0 0.5em

.nav-link::after
  content: " "
  border-left: 2px solid white
  margin: 0 0.5em 0 1em

.nav-link:last-child::after
  content: ""
  border-left: none
  margin: 0

// Utility classes
.u-margin-bottom-medium
  margin-bottom: 1em

.u-no-margin-bottom
  margin-bottom: 0

.u-no-margin-top
  margin-top: 0

.u-no-margin
  margin: 0

.u-margin-right-medium
  margin-right: 1em

.u-float-left
  float: left

.u-float-right
  float: right

.u-ta-left
  text-align: left
