
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

    <% include ../partials/header %>

    <main class="app-container">
      <h1 class="heading-large">The resource you are looking for could not be found.</h1>
    </main>

    <% include ../partials/footer %>
</body>
</html>
