
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

    <% include ../partials/header %>

      <main id="content" class="app-container" role="main">
        <div class="grid-row">
          <div class="column-two-thirds">
            <h1 class="heading-large">Too many login attempts</h1>
            <p>If you are seeing this page, it means that you've attempted to login with your credentials too many times and not had any success.</p>
            <p>Please contact out support team for help.</p>
            <a href="mailto:NCAenquiries@digital.justice.gov.uk">NCAenquiries@digital.justice.gov.uk</a>
          </div>
        </div>
      </main>

    <% include ../partials/footer %>
</body>
</html>
