

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../partials/head") %>
</head>
<body>

    <%- include ("../partials/header") %>

    <main id="content" class="app-container" role="main">
      <div class="grid-row">
        <div class="column-two-thirds">
          <div class="govuk-box-highlight">
            <h1 class="heading-xlarge u-no-margin-bottom">
              <%= headline %>
            </h1>
          </div>

          <a class="button" href="/">Return home</a>

        </div>
      </div>
    </main>

    <%- include ("../partials/footer") %>
</body>
</html>
