
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

    <% include ../partials/header %>

    <main id="content" class="app-container" role="main">
      <div class="grid-row">
        <div class="column-two-thirds">
          <h1 class="heading-large"><%= message %></h1>
          <p class="lede">
            The error has been logged, please try again.
          </p>
          <p class="body-text">
            If the error persists, contact support quoting
            <kbd><%= req_id %></kbd>
          </p>
          <pre><%= stack %></pre>
        </div>
      </div>
    </main>

    <% include ../partials/footer %>
</body>
</html>
