<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

  <% include ../partials/header %>

  <main id="content" class="app-container" role="main">
    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-large">Download Nomis Report</h1>
        <table>
          <tbody>
            <% if (latestFileName) {%>
            <tr>
              <td><%= latestFileName %></td>
              <td class="numeric"><a class="button button-start" target="_blank" href="/<%= latestFileName %>" role="button">Download</a></td>
            </tr>
            <% }  else { %>
              <tr>
                <td colspan="2">No files found for download.</td>
              </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </main>

  <% include ../partials/footer %>
</body>
</html>
