
<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body>

    <% include ../partials/header %>

    <main id="content" class="app-container" role="main">
      <div class="grid-row">
        <div class="column-two-thirds">
          <div class="govuk-box-highlight u-ta-left">
            <h2 class="heading-medium u-no-margin-top">User password was successfully reset</h2>
            <p class="u-no-margin"><strong>Username:</strong> <%= username %></p>
            <p><strong>Password:</strong> <%= password %></p>
            <div class="notice">
              <i class="icon icon-important">
                <span class="visually-hidden">Warning</span>
              </i>
              <strong class="bold-small">
                The password above will not be shown again.
                Once the user logs in they will be asked to reset their passwords.
              </strong>
            </div>
          </div>

          <a class="button" href="/">Return to dashboard</a>

        </div>
      </div>
    </main>

    <% include ../partials/footer %>
  </body>
</html>
